<nav>
  <ul>
    <li><a routerLink="/posts" routerLinkActive="active">Voir les posts</a></li>
    <li><a routerLink="/add-post" routerLinkActive="active">Ajouter un post</a></li>
  </ul>
</nav>

<router-outlet />
