<div>
  <h1>Posts</h1>
  <ul>
    <li *ngFor="let post of posts">
      <strong>{{ post.title }}</strong> - {{ post.body }}
    </li>
  </ul>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
    <span>Page {{ page }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
  </div>

  <div class="info">
    Total Posts: {{ totalPosts }} | Posts per Page:
    <select id="size-select" [(ngModel)]="size" (change)="loadPosts()">
      <option *ngFor="let s of sizes" [value]="s">
        {{ s }}
      </option>
    </select>
    
  </div>
</div>