.board {
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
    margin: 20px auto; /* Centre le tableau */
  }
  
  .board td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2em;
    cursor: pointer; /* Indique que les cellules sont cliquables */
  }