<h1>Admin</h1>

Bienvenue dans la section admin

<div class="login-container">
    <h2>Connexion</h2>
    <form (ngSubmit)="onSubmit()"[formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          [class.invalid]="username.invalid && username.touched"
        />
        <div class="error" *ngIf="username.invalid && username.touched">
          Nom d'utilisateur requis.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          [class.invalid]="password.invalid && password.touched"
        />
        <div class="error" *ngIf="password.invalid && password.touched">
          Mot de passe requis.
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>