<h1>Ajouter un nouveau post</h1>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Titre :</label>
    <input id="title" [(ngModel)]="newPost.title" name="title" required />
  </div>
  <div>
    <label for="body">Contenu :</label>
    <textarea id="body" [(ngModel)]="newPost.body" name="body" required></textarea>
  </div>
  <button type="submit">Ajouter</button>
</form>