<br><br>
<form (ngSubmit)="addTodo()">
    <label for="title">Titre:</label>
    <input type="text" id="title" name="title" [(ngModel)]="todo.title" required>
    <br><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="todo.description"></textarea>
    <br><br>
    <button type="submit">Ajouter</button>
  </form>